#{id} > .placeholder {
  border: 5px dotted #eee;
  padding: 15px;
}

#{id} > .placeholder > h1 {
  text-align: center;
  margin: 0;
  color: #000;
}

#{id} > .placeholder > h2 {
  text-align: center;
  margin: 0;
  color: #999;
}